@model Note

<form asp-controller="Notes" asp-action="Sil" method="post">
    <div class="form-control">
        <input asp-for="Id" type="hidden" />
        <span> @Model.Content  içerikli @Model.Title' notu silinecektir onaylıyor musunuz ?  </span>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary">Evet,Sil</button>
    </div>
    
</form>